<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Movie at Pyramid 3213</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.css" type="text/css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.css" type="text/css">
	<script src="js/jquery-1.10.2.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/underscore.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/watch.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/compass.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery.timeago.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/commons.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <!-- Navigation bar. common for all pages -->
    <div id="wrapper" class="container">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner navbar-fixed-top">
                <div class="container">
                    <a id="movies_path" class="brand" href="/">movies@pyramid3213</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li>
                                <a id="signin" href="/oauth/login" style="display:none;">Sign in</a>
                                <a id="acksignin" style="display:none;" class="dropdown-toggle" href="#" data-toggle="dropdown">
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#logout">Sign out</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of navigation bar -->

    <div id="indexContainer" class="container">
        <div style="padding-top:3%;">
            <div class="page-header row">
                <h1 class="span10">Hot on Pyramid3213</h1>
                <a id="new-movie" class="btn btn-primary" href="#new_movie">Add new movie</a>
            </div>
        </div>
        <div id="pagination" class="row-fluid">
            <a id="prevLink">&lt;&lt; Prev</a> <a id="nextLink">Next &gt;&gt;</a>
        </div>
        <div id="movies-div" class="row">
        </div>
    </div>
    
    <!-- index page. displaying all movies -->    
    <script type="text/template" id="list-movies-template">
        <% _.each(model, function(movie) { %>
            <div class="span3">
                <h3>
                    <% if (movie.obj.title.length <= 15) { %>
                        <%= movie.obj.title %>
                    <% } else { %>
                        <%= movie.obj.title.substring(0,12) + "..." %>
                    <% } %>
                </h3>
                <img class="movieImage" data-movieid="<%= movie.obj.id %>" src="<%= movie.obj.img_url %>">
                <p>Score:
                    <% if (movie.obj.avg_score != null) { %>
                        <%= Math.round(movie.obj.avg_score * 100) / 100 %>
                    <% } else { %>
                        0.0
                    <% } %> 
                </p>
            </div>
        <% }); %>
    </script>
    
    <script type="text/template" id="single-movie-template">
        <div class="row-fluid">
           <a href="/" id="movies_path">movies</a> &gt;
           <%= model.obj.title %>
           <br><br>
        </div>
        <div class="row">
           <div class="span3">
               <img src="<%= model.obj.img_url %>">
           </div>
           <div class="span9">
               <div>
                   <h3><%= model.obj.title %></h3>
                   <p><%= model.obj.summary %></p>
                   <p>
                       <a id="deleteMovieBtn" class="btn btn-danger" href="#movie/delete/<%= model.obj.id %>">Delete this movie!</a>&nbsp;
                       <a class="btn btn-info" href="#movie/update/<%= model.obj.id %>">Update this movie</a>
                   </p>
               </div>
           </div>
        </div>
        <div class="row-fluid">
           <div class="row-fluid">
               <h3 class="span12">Reviews</h3>
           </div>
           <div id="reviews-div">
               <!-- loop through each review and display them -->
               <% _.each(model.obj.reviews, function(review) { %>
                   <div class="well">
                       <div class="row-fluid">
                           <p class="span12">
                               <strong><%= review.obj.user.username %></strong> reviewed about <abbr class="timeago" title="<%=review.obj.updated_at%>">time </abbr>.
                               <span class="label label-success pull-right">
                                   <%= review.obj.score %> points
                               </span>
                           </p>
                       </div>
                       <div class="row-fluid">
                           <p class="span12"><%= review.obj.comment %></p>
                       </div>
                       <div class="row-fluid">
                           <a href="#movie/<%= model.obj.id %>/review/delete/<%= review.obj.id %>" class="btn btn-small btn-danger deleteReviewBtn">
                               Delete review
                           </a>
                       </div>
                   </div>
               <% }); %>
           </div>
           <div class="well">
               <div id="new-review-input" class="row-fluid">
                   <label for="review_score" class="span3">Score (1-100)</label>
                   <input type="number" name="review[score]" id="review_score" class="span3">
               </div>
               <div class="row-fluid">
                   <label for="review_comment" class="span3">Comment</label>
                   <textarea rows="3" name="review[comment]" id="review_comment" cols="40" class="span9">
                   </textarea>
               </div>
               <a class="btn" id="create-review-btn" href="#review/create/<%=model.obj.id%>">Create Review</a>
           </div>
        </div>
    </script>
    
    <script type="text/template" id="create-movie-template">
    <div>
        <div class="row-fluid">
            <a href="/">List of movies</a>
        </div>
        <h3>Create new movie</h3>
        <form enctype="multipart/form-data" method="POST" name="movie">
            <div class="control-group">
                <label for="movie_title" class="control-label">Title</label>
                <div class="controls">
                    <input type="text" required="true" size="30" name="movie[title]" id="movie_title" class="text_field">
                </div>
            </div>
            <div class="control-group">
                <label for="movie_summary" class="control-label">Summary</label>
                <div class="controls">
                    <input type="text" required="true" size="30" name="movie[summary]" id="movie_summary" class="text_field">
                </div>
            </div>
            <div class="control-group">
                <label for="movie_img" class="control-label">Img</label>
                <div class="controls">
                    <input type="file" required="true" name="movie[img]" id="movie_img">
                </div>
            </div>
            <a id="submit" class="btn btn-primary">Create Movie</a>
            <a class="btn" id="cancel" href="#">Cancel</a>
        </form>
    </div>
    </script>
    
    <script type="text/template" id="update-movie-template">
    <div>
        <div class="row-fluid">
            <a href="/">List of movies</a>
        </div>
        <h3>Update movie</h3>
        <form enctype="multipart/form-data" method="POST" name="update_movie">
            <div class="control-group">
                <label for="movie_title" class="control-label">Title</label>
                <div class="controls">
                    <input type="text" required="true" size="30" name="movie[title]" id="movie_title" class="text_field" value="<%= model.obj.title%>">
                </div>
            </div>
            <div class="control-group">
                <label for="movie_summary" class="control-label">Summary</label>
                <div class="controls">
                    <input type="text" required="true" size="30" name="movie[summary]" id="movie_summary" class="text_field" value="<%= model.obj.summary%>">
                </div>
            </div>
            <div class="control-group">
                <label for="movie_img" class="control-label">Img</label>
                <div class="controls">
                    <input type="file" required="true" name="movie[img]" id="movie_img">
                </div>
            </div>
            <a id="updateMovieBtn" class="btn btn-primary">Update Movie</a>
            <a class="btn" id="cancel" href="#">Cancel</a>
        </form>
        <div class="row">
            <div class="span3">
                Existing image: (will be replaced only if you submit a new image)<br>
                <img src="<%= model.obj.img_url %>">
            </div>
        </div>
    </div>
    </script>
    
</body>
<script type="text/javascript">
    $(document).ready(function() {
        // At the start, check if user is logged in.
        if (getCookie("access_token") == null || getCookie("access_token") == "") {
            $("#signin").show();
            $("#acksignin").text("").hide();
        } else {
            $.ajax({
                type: "get",
                url: "http://cs3213.herokuapp.com/users/current.json?access_token="+getCookie("access_token"),
                cache: false,
                error: function(jqXHR, textStatus, error) {
                    console.log("Could not get current user data - " + textStatus + ": " + error);
                },
                success: function(data, textStatus, jqXHR) {
                    $("#signin").hide();
                    $("#acksignin").html(data.email+'<i class="icon-circle-arrow-down"></i>').show();
                }
            });
        }
        
        // Instantiate all Models
        var Movie = function(){};
        Movie.prototype = new Compass.Model("http://cs3213.herokuapp.com/movies");
        var Review = function(){};
        Review.prototype = new Compass.Model("http://cs3213.herokuapp.com/movies/");
        
        // Instantiate all Collections
        var MoviesCollection = function(){};
        MoviesCollection.prototype = new Compass.Collection(Movie);
        var ReviewsCollection = function(){};
        ReviewsCollection.prototype = new Compass.Collection(Review);
        
        // Instantiate all Views
        var ListMoviesView = function(){};
        ListMoviesView.prototype = new Compass.View({
            template: $("#list-movies-template")
        });
        var SingleMovieView = function(){};
        SingleMovieView.prototype = new Compass.View({
            template: $("#single-movie-template")
        });
        var CreateMovieView = function(){};
        CreateMovieView.prototype = new Compass.View({
            template: $("#create-movie-template"),
            events : {
                'click #submit' : function createMovieEvent() {
                    var token = getCookie("access_token");
                    if (token == null || token == "") {
                        alert("You need to log in first.");
                        window.location.href = "/";
                    } else {
                        var title = $.trim($("#movie_title").val());
                        var summary = $.trim($("#movie_summary").val());
                        var img = $.trim($("#movie_img").val());
                        if (title == "" || summary == "" || img == "") {
                            alert("You must provide a title, summary and an image.");
                        } else {
                            $("#submit").attr('disabled', 'disabled');
                            var newMovie = new Movie;
                            newMovie.set({
                                'access_token': token,
                                'movie[title]': title,
                                'movie[summary]': summary,
                                'movie[img]': document.getElementById('movie_img').files[0]
                            });
                            newMovie.save({
                                success: function(data) {
                                    window.location.href = "/";
                                },
                                error: function(error) {
                                    console.log(error);
                                }
                            });
                        }
                    }
                }
            },
        });
        var UpdateMovieView = function(){};
        UpdateMovieView.prototype = new Compass.View({
            template: $("#update-movie-template"),
            events : {
                'click #updateMovieBtn' : function createMovieEvent(bindedModel) {
                    var token = getCookie("access_token");
                    if (token == null || token == "") {
                        alert("You need to log in first.");
                    } else {
                        var title = $.trim($("#movie_title").val());
                        var summary = $.trim($("#movie_summary").val());
                        if (title == "" || summary == "") {
                            alert("You must provide a title and summary.");
                        } else {
                            $("#updateMovieBtn").attr('disabled', 'disabled');
                            var newData = {
                                'access_token': token,
                                'movie[title]': title,
                                'movie[summary]': summary,
                            };
                            if ($.trim($("#movie_img").val())) {
                                newData['movie[img]'] = document.getElementById('movie_img').files[0];
                            }
                            bindedModel.set(newData);
                            bindedModel.sync({
                                id: bindedModel.obj.id+".json",
                                success: function() {
                                    window.location.href = "#movies/"+bindedModel.obj.id;
                                },
                                error: function(error) {
                                    console.log(error);
                                }
                            });
                        }
                    }
                }
            },
        });
        
        // Overriding the default render method to provide our custom render method.
        // This is an intended feature of our framework.
        var listMoviesView = new ListMoviesView;
        listMoviesView.render = function(currentPageNumber) {
            var template = _.template(this.template.html(), {model: this.model});
            $("#movies-div").empty();
            $("#movies-div").append(template);
            if (currentPageNumber == 1) {
                $("#prevLink").hide();
                $("#nextLink").attr("href", "#page/"+2).show();
            } else {
                var prevNum = currentPageNumber - 1;
                var nextNum = currentPageNumber + 1;
                $("#prevLink").attr("href", "#page/"+prevNum).show()
                $("#nextLink").attr("href", "#page/"+nextNum).show();
            }
            $(".movieImage").click(function() {
                window.location.hash = "#movies/"+$(this).data("movieid");
            });
        };
        
        // Set up the router.
        var AppRouter = new Compass.Router({
            routes: {
                "" : "index",
                "page/:page" : "movies_pagination",
                "movies/:id" : "view_movie",
                "movie/delete/:id" : "delete_movie",
                "movie/update/:id" : "update_movie",
                "new_movie" : "new_movie",
                "movie/:mid/review/delete/:rid" : "delete_review",
                "logout" : "logout",
                "review/create/:mid" : "create_review"
            },
            handlers: {
                index: function() {
                   // load first page of movies
                   var listOfMovies = new MoviesCollection;
                   
                   listOfMovies.get({
                      customUrl: "http://cs3213.herokuapp.com/movies.json",
                      success: function(data) {
                          listMoviesView.bindModel({
                              model: data
                          });
                          listMoviesView.render(1);
                      },
                      error: function(error) {
                          console.log(error);
                      }
                   });                   
                },
                movies_pagination: function(params) {
                    var listOfMovies = new MoviesCollection;
                    
                    var page = parseInt(params.page);
                    listOfMovies.get({
                        customUrl: "http://cs3213.herokuapp.com/movies.json",
                        additionalParams: {page: page},
                        success: function(data) {
                            listMoviesView.bindModel({
                                model: data
                            });
                            listMoviesView.render(parseInt(page));
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });
                },
                view_movie: function(params) {
                    var currentMovie = new Movie;
                    var currentMovieView = new SingleMovieView;
                    currentMovie.get({
                        id: params.id+".json",
                        success: function(data) {
                            var listOfReviews = new ReviewsCollection;
                            listOfReviews.get({
                                customUrl: "http://cs3213.herokuapp.com/movies/"+params.id+"/reviews.json",
                                success: function(allReviews) {
                                    currentMovie.set({
                                        reviews: allReviews
                                    });
                                    currentMovieView.bindModel({
                                        model: currentMovie
                                    });
                                    $("#movies-div").empty();
                                    $("#prevLink").hide();
                                    $("#nextLink").hide();
                                    $("#movies-div").append(currentMovieView.render());
                                },
                                error: function(error) {
                                    console.log(error);
                                }
                            });
                        },
                        error: function(errorMsg) {
                            console.log(errorMsg);
                        }
                    });
                },
                delete_movie: function(params) {
                    $("#deleteMovieBtn").attr("disabled", "disabled");
                    var movieid = params.id;
                    var token = getCookie("access_token");                    
                    if (token == null || token == "") {
                        alert("You need to log in first.");
                        window.location.href = "#movies/"+movieid;
                    } else {
                        // we want the user id so that we know whether he is authorized to delete the movie
                        $.ajax({
                            type: "get",
                            url: "http://cs3213.herokuapp.com/users/current.json?access_token="+token,
                            success: function(data, textStatus, jqXHR) {
                                var uid = data.id;
                                var movieToBeDeleted = new Movie;
                                movieToBeDeleted.get({
                                    id: movieid+".json", 
                                    success: function(data) {
                                        if (uid != movieToBeDeleted.obj.user.id) {
                                            alert("You are not authorized to delete this movie");
                                            $("#deleteMovieBtn").removeAttr("disabled");
                                        } else {
                                            movieToBeDeleted.set({
                                                'access_token': token
                                            });
                                            movieToBeDeleted.destroy({
                                                id: movieToBeDeleted.obj.id+".json",
                                                success: function() {
                                                    window.location.href = "/";
                                                },
                                                error: function(error) {
                                                    console.log("error attempting to delete obj: "+error);
                                                    alert("error: ", error);
                                                    $("#deleteMovieBtn").removeAttr("disabled");
                                                }
                                            });
                                        }
                                    }
                                });
                            }
                        });
                    }
                },
                update_movie: function(params) {
                    var movieid = params.id;
                    var updateMovieView = new UpdateMovieView;
                    var movieToBeUpdated = new Movie;
                    movieToBeUpdated.get({
                        id: movieid+".json",
                        success: function(data) {
                            $("#movies-div").empty();
                            $("#prevLink").hide();
                            $("#nextLink").hide();
                            updateMovieView.bindModel({
                                model: movieToBeUpdated
                            });
                            $("#movies-div").append(updateMovieView.render());
                            updateMovieView.delegateEvents();
                        },
                        error: function(errorMsg) {
                            console.log(errorMsg);
                        }
                    });
                },
                new_movie: function() {
                    var createMovieView = new CreateMovieView;
                    $("#movies-div").empty();
                    $("#prevLink").hide();
                    $("#nextLink").hide();
                    $("#movies-div").append(createMovieView.render());
                    createMovieView.delegateEvents();
                },
                delete_review: function(params) {
                    var movieid = params.mid;
                    var reviewid = params.rid;
                    var token = getCookie("access_token");
                    if (token == null || token == "") {
                        alert("You need to log in first.");
                        window.location.href = "#movies/"+movieid;
                    } else {
                        $(".deleteReviewBtn").attr("disabled", "disabled");
                        // There's no API to get a Review Model. hence I can't use our model's destroy() method.
                        // Can only do it this way.
                        $.ajax({
                            type: 'delete',
                            url: 'http://cs3213.herokuapp.com/movies/'+movieid+'/reviews/'+reviewid+'.json',
                            data: {'access_token': token},
                            error: function(jqXHR, textStatus, error) {
                                console.log(textStatus + ": " + error);
                                alert(error);
                                $(".deleteReviewBtn").removeAttr("disabled");
                            },
                            success: function(data, textStatus, jqXHR) {
                               window.location.href = "/#movies/"+mid;
                            }
                        });
                    }
                },
                logout: function() {
                    deleteCookie("access_token");
                    window.location.href="/";
                },
                create_review: function(params) {
                    var movieid = params.mid;
                    var token = getCookie("access_token");                    
                    if (token == null || token == "") {
                        alert("You need to log in first.");
                        return;
                    } else {
                        var comment = $.trim($("#review_comment").val());
                        var score = $.trim($("#review_score").val());
                        if(score < 1 || score > 100) {
                            alert("Please enter a score between 1 and 100");
                            window.location.href = "#movies/"+movieid;
                        } else {
                            var data = {
                                'movie_id': movieid,
                                'score': score,
                                'comment': comment,
                                'access_token': token
                            };
                            var url = "http://cs3213.herokuapp.com/movies/" + movieid + "/reviews.json";
                            $.ajax({
                                url:url,
                                type:"POST",
                                dataType:"json",
                                headers: {'Content-Type':'application/json'},
                                data:JSON.stringify(data),
                                success: function(result) {
                                    window.location.href = "#movies/"+ movieid;
                                },
                                error: function (xhr, status, err) {
                                    console.log(xhr);
                                }
                            });
                        }
                    }
                }
            }
        });

        // To start the router, both of the following calls are needed.
        AppRouter._route();
        Compass.History.start();
    });
</script>
</html>
